<launch>
    <!--Parameter Arguments-->
    <arg name="port" default="/dev/ttyACM0"/>
    <arg name="baud" default="57600"/>

    <!--GPS + IMU Node-->
    <node pkg="gps_tracking" type="gps_node.py" name="gps_node"/>
    <node pkg="gps_tracking" type="HMC5983.py" name="imu_node"/>

    <!--EKF Node-->
    <node pkg="gps_tracking" type="ekf_node.py" name="ekf_node"/>

    <!--Arduino Node-->
    <!--<node pkg="gps_tracking" type="arduino_node.py" name="arduino_node"/>-->
    <node pkg="rosserial_arduino" type="serial_node.py" name="serial_node" output="screen">
        <param name="port" value="$(arg port)"/>
        <param name="baud" value="$(arg baud)"/>
    </node>
</launch>
